body {
    font-family: Arial, sans-serif;
}
.bg_image {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100% ;
    /* height: 100%; */
    /* background-image: url('path/to/your/image.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #6e6363;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#citySelector {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

#fetchWeather {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    width:max-content;
    margin-left: 45%;
    border: none;
    border-radius: 5px;
    /* background-color: #007bff; */
    color: hsl(92, 57%, 44%);
    cursor: pointer;
    z-index: -1;
}

#fetchWeather:hover {
    background-color: #94f48e;
}
/* Style for the entire card container */
.weather-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto; 
}

/* Individual card styling */
.weather-card {
    background-color: #cdfbbb;
    /* border: 2px solid #0b283b; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 120px; 
    height: 200px; 
    text-align: center;
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;
}

.weather-card:hover {
    transform: scale(1.05);
    background-color: #416233;
    color: #ffffff;
    border-color: #ffffff;
}

.card-header {
    margin-right: 5%;
    font-size: 12px;    
    font-weight: bold;
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 16px;
}

img.weather-icon {
    width: 110px;
    height: 90px;
    margin-right: 10px;
}
